{% extends 'base.html.twig' %}

{% block title %}Detail - {{ parent() }}{% endblock %}

{% block main %}
    <h1>{{ serie.name }}</h1>
    {% if is_granted("ROLE_ADMIN") %}
        <form action="{{ path('serie_delete', {'id':serie.id}) }}" method="POST">
            <input type="submit" value="Delete this serie">
        </form>
    {% endif %}
    <p>{{ serie.overview }}</p>
    <p>note : {{ serie.vote }}</p>
    <h2>Seasons</h2>
    {% for season in serie.seasons %}
        <h3>Season #{{ season.number }}</h3>
        <p>{{ season.overview }}</p>
    {% endfor %}
{% endblock %}