{% extends 'base.html.twig' %}

{% block title %}List - {{ parent() }}{% endblock %}

{% block main %}
    <h1>Our series</h1>
    <ul>
        {% for s in series %}
            {% set nbSeasons = s.seasons.count() %}
            <li><a href="{{ path('serie_detail', {'id':s.id}) }}">{{ s.name }}
                    ({{ nbSeasons }} season{{ nbSeasons>=2?'s':'' }})</a></li>
        {% endfor %}
    </ul>
{% endblock %}
