<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Series{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
    <header>
        {% include('inc/nav.html.twig') %}
    </header>
    <main>
        {# affichage des messages flash #}
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ category }}">
                    <strong>{{ category }}</strong> : {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block main %}{% endblock %}
    </main>
    <footer>
        {% include('inc/nav.html.twig') %}
        &copy; ENI {{ date() | date("Y") }}
    </footer>
</body>
</html>
